<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_atuthenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}"></a>Login
                        </li>
                        <li>
                            <a href="{% url "signup" %}"></a>Signup
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <a href="{% url "create_project" %}">Create a new project</a>
                {% if project_list|length <= 1 %}<p>You are not assigned to any projects</p>{% endif %}
                <table>
                    {% for list in project_list %}
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{% url "show_project" list.id %}">{{ list.name }}</a>
                                </td>
                                <td>{{ list.tasks.all|length }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
